/* ---------- FONTS ----------- */

@font-face {
    font-family: 'Reglo';
    src: url('fonts/reglo-bold-webfont.eot');
    src: url('fonts/reglo-bold-webfont.woff') format('woff'),
         url('fonts/reglo-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
    margin-top: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Reglo;
}

a, a:visited, a:active {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: #8383ff;
}

blockquote {
    border-left: 4px solid #8383ff;
    margin-left: 0;
    padding-left: 40px;
}