/* ---------- FONTS ----------- */

@font-face {
    font-family: 'Reglo';
    src: url('fonts/reglo-bold-webfont.eot');
    src: url('fonts/reglo-bold-webfont.woff') format('woff'),
         url('fonts/reglo-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div.intro {
    margin-top: 40vh;
    height: 100vh;
}
div.slide {
    min-height: 100vh;
}
body {
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
}

img {
    max-width: 800px;
    margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Reglo;
}
h1 {
    font-size: 100px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    text-transform: uppercase;
    text-align: center;
    color: #39FF14;
    opacity: .8;
    }/*
h1:hover {
    color: transparent;
}*/
h2 {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

a, a:visited, a:active {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}

a:hover {
    color: #39FF14;
}

blockquote {
    border-left: 4px solid black;
    margin-left: 0;
    padding-left: 40px;
}
.img-smaller img {
    max-height: 455px;
    float: left;
    margin-left: 24px;
    margin-right: 24px;
}
.img-smaller {
    clear: both;
    display: inline-block;
}
